<div class="text-field">
  <%= form.label :title %>
  <%= form.text_field :title %>
</div>

<div class="text-field">
  <%= form.label :description %>
  <%= form.text_field :description %>
</div>

<div class="text-field">
  <%= form.label :price %>
  <%= form.text_field :price %>

<div class="text-field">
  <%= form.label :address %>
  <%= form.text_field :address%>
</div>

<div class="text-field">
  <%= form.label :property_type %>
  <%= form.text_field :property_type %>
</div>

<div class="text-field">
  <%= form.label :accomodation_type %>
  <%= form.text_field :accomodation_type %>
</div>

<div class="text-field">
  <%= form.label :bedrooms %>
  <%= form.number_field :bedrooms%>
</div>

<div class="text-field">
  <%= form.label :occupant_limit %>
  <%= form.number_field :occupant_limit%>
</div>

<div class="img-field">
  <%= form.label :images%>
  <%= form.file_field :images %>

</div>

<div class="img-field">
  <%= form.label :images%>
  <%= form.text_field :remote_images_url %>
</div>