<div id="booking" class="new_booking">
  <h2>Make a new booking at <%=Listing.find_by_id(params[:listing_id]).title%></h2>
  <h3>At a cost per day of $<%=Listing.find_by_id(params[:listing_id]).price%> </h3>

    <%= form_with url: listing_bookings_path,scope: :booking, method: :post, local: true do |form| %>
    <%= render partial: '/bookings/form', object: form %>

    <div class="submit-field">
      <%= form.submit "Check Dates" %>
    </div>

    <%end%>